/* basic style */

.button {
  font-weight: normal;
  line-height: 20px;
  cursor: pointer;
  margin: 0;
  vertical-align: middle;
  border-radius: 4px;
  font-size: 14px;
  padding: 6px 8px;
  text-transform: uppercase;
}

/* block */

.block {
  display: block;
  width: 100%;
}

/* large */

.large {
  font-size: 16px;
  padding: 12px 16px;
}

/* primary button */

.primary {
  background: #368DF7;
  border: 1px solid #368DF7;
  color: #fff;
}

.primary:hover {
  background: #2C7DE0;
  border-color: #2C7DE0;
}

/* secondary button */

.secondary {
  background: none;
  border: 1px solid #368df7;
  color: #368df7;
}

.secondary:hover {
  border-color: #2C7DE0;
  color: #2C7DE0;
}

.link {
  color: #08c;
  background: transparent;
  cursor: pointer;
  border-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-transform: none;
}