/* info bar structure */

.infoBar {
  height: 100%;
  position: relative;
}

.infoBarContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  position: relative;
}

/* header */

.pkpmodal-header {
  border-bottom: 1px solid #eee;
  padding: 5px 0 5px 15px;
  flex: none;
  z-index: 1;
}

h4.pkpmodal-title {
  font-size: 15px;
}

/* list of points */

.pickupPointsList {
  flex: 1 1 auto;
  position: relative;
  overflow: auto;
  padding: 5px 12px;
  min-height: 0; /* fix firefox overflow bug */
  -webkit-overflow-scrolling: touch;
}

.pickupPointsItem {
  cursor: pointer;
  margin-bottom: 12px;
}

.pickupPointsItem:hover>* {
  border-color: #ccc;
}

/* media queries */

@media (max-width: 1023px) {
  .pkpmodal-info-bar-container.active {
    height: auto;
  }

  .infoBarContainer {
    background-color: #f4f4f4;
    height: 100%;
  }

  .infoBarMap {
    height: auto;
  }
}

@media (min-width: 1024px) {
  .pickupTabsContainer {
    display: none;
  }

  .infoBar {
    padding: 10px;
    box-sizing: border-box;
    width: 340px;
  }

  .pkpmodal-points-list {
    margin-top: 8px;
    overflow: auto;
  }
}

.header {
  border-bottom: 1px solid #eee;
  padding: 5px 0 5px 15px;
  flex: none;
  z-index: 1;
}

.title {
  font-size: 15px;
}
